name: Publish Family Provider

on:
  workflow_call:
    inputs:
      subpackages:
        description: 'Subpackages to be built individually (e.g. config ec2)'
        default: 'config'
        required: false
        type: string
      size:
        description: "Number of packages to build and push with each matrix build job"
        default: '30'
        required: true
        type: string
      concurrency:
        description: "Number of parallel package builds in each matrix job"
        default: '1'
        required: false
        type: string
      repository:
        description: "Source repository (like provider-aws, provider-azure..)"
        required: true
        type: string
      version:
        description: "Version string to use while publishing the packages"
        default: ''
        required: false
        type: string
      go-version:
        description: 'Go version to use if building needs to be done'
        default: '1.22'
        required: false
        type: string
      cleanup-disk:
        description: "If set to true, an initial step will be run to reclaim some extra disk space for the build/test jobs in this workflow"
        required: false
        type: boolean
        default: false
      runs-on:
        default: ubuntu-latest
        required: false
        type: string
      mirror-to-upbound-registry:
        description: "If set to true, the xpkgs will be mirrored to xpkg.upbound.io"
        required: false
        type: boolean
        default: true
    secrets:
      GHCR_PAT:
        required: true
      XPKG_UPBOUND_TOKEN:
        required: false # still needed if inputs.mirror-to-upbound-registry is true

env:
  # Common versions
  DOCKER_BUILDX_VERSION: 'v0.20.1'

  # Registry/Org names
  CROSSPLANE_REGORG: 'ghcr.io/getupcloud-images/crossplane-contrib' # xpkg.crossplane.io/crossplane-contrib
  CROSSPLANE_PROXY_REGORG: 'xpkg.crossplane.io/crossplane-contrib'

jobs:
  index:
    runs-on: ${{ inputs.runs-on }}
    outputs:
      subpackages: ${{ steps.calc_subpackages.outputs.subpackages }}
      indices: ${{ steps.calc.outputs.indices }}
    steps:
      - name: Get provider subpackages
        id: calc_subpackages
        uses: getupcloud-images/provider-workflows/.github/actions/get-provider-subpackages@4b68054c68e748195624fcf8187886a1123fc7a2
        with:
          provider: ${{ github.repository }}
          ref: ${{ github.ref }}
          subpackages_str: ${{ inputs.subpackages }}
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: calc
        run: |
          python3 -c "import math; print(f'indices={list(range(0, math.ceil(len(\"${{ steps.calc_subpackages.outputs.subpackages }}\".split()) / int(\"${{ inputs.size }}\"))))}')" >> "$GITHUB_OUTPUT"

  publish-artifacts:
    needs: index
    runs-on: ${{ inputs.runs-on }}
    strategy:
      matrix:
        index: ${{ fromJSON(needs.index.outputs.indices) }}

    steps:
      - name: Cleanup Disk
        uses: jlumbroso/free-disk-space@54081f138730dfa15788a46383842cd2f914a1be # v1.3.1
        if: ${{ inputs.cleanup-disk }}
        with:
          android: true
          dotnet: true
          haskell: true
          tool-cache: true
          large-packages: false
          swap-storage: false

      - name: Setup QEMU
        uses: docker/setup-qemu-action@2b82ce82d56a2a04d2637cd93a637ae1b359c0a7 # v2
        with:
          platforms: all

      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@885d1462b80bc1c1c7f0b00334ad271f09369c55 # v2
        with:
          version: ${{ env.DOCKER_BUILDX_VERSION }}
          install: true

      - name: Login to GHCR using PAT
        uses: docker/login-action@v3.3.0
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GH_CLONE_REPO_PAT }}

      - name: Checkout
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
        with:
          submodules: true

      - name: Fetch History
        run: git fetch --prune --unshallow

      - name: Setup Go
        uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3
        with:
          go-version: ${{ inputs.go-version }}

      #- name: Find the Go Build Cache
      #  id: go_cache
      #  run: |
      #    echo "cache=$(make go.cachedir)" >> $GITHUB_OUTPUT && \
      #    echo "mod_cache=$(make go.mod.cachedir)" >> $GITHUB_OUTPUT

      #- name: Cache the Go Build Cache
      #  uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
      #  with:
      #    path: ${{ steps.go_cache.outputs.cache }}
      #    key: ${{ runner.os }}-build-publish-artifacts-${{ hashFiles('**/go.sum') }}
      #    restore-keys: ${{ runner.os }}-build-publish-artifacts-

      #- name: Cache Go Dependencies
      #  uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf # v4
      #  with:
      #    path: ${{ steps.go_cache.outputs.mod_cache }}
      #    key: ${{ runner.os }}-pkg-${{ hashFiles('**/go.sum') }}
      #     restore-keys: ${{ runner.os }}-pkg-

      - name: Vendor Dependencies
        run: make vendor vendor.check

      - name: Calculate packages to build & push
        id: packages
        run: |
          echo target=$(python3 -c "print(' '.join(\"${{ needs.index.outputs.subpackages }}\".split()[int(\"${{ matrix.index }}\") * int(\"${{ inputs.size }}\"): (int(\"${{ matrix.index }}\")+1) * int(\"${{ inputs.size }}\")]))") >> "$GITHUB_OUTPUT"

      - name: Build Artifacts
        id: build_artifacts
        run: |
          packages=($(echo ${{ steps.packages.outputs.target }} | tr ' ' '\n'))
          num_packages=${#packages[@]}
          if [ $num_packages -gt 10 ]; then
            num_packages=10
          fi
          make -j $num_packages SUBPACKAGES="${{ steps.packages.outputs.target }}" XPKG_REG_ORGS="${{ env.CROSSPLANE_REGORG }}" XPKG_REG_ORGS_NO_PROMOTE="${{ env.CROSSPLANE_REGORG }}" CONFIG_DEPENDENCY_REG_ORG="${{ env.CROSSPLANE_PROXY_REGORG }}" BRANCH_NAME="main" ${{ inputs.version != '' && format('VERSION={0}', inputs.version) || '' }} build.all
          echo "num_packages=$num_packages" >> $GITHUB_OUTPUT
        env:
          # We're using docker buildx, which doesn't actually load the images it
          # builds by default. Specifying --load does so.
          BUILD_ARGS: "--load"

      - name: Publish Artifacts
        run: |
          make -j ${{ steps.build_artifacts.outputs.num_packages }} SUBPACKAGES="${{ steps.packages.outputs.target }}" XPKG_REG_ORGS="${{ env.CROSSPLANE_REGORG }}" XPKG_REG_ORGS_NO_PROMOTE="${{ env.CROSSPLANE_REGORG }}" CONFIG_DEPENDENCY_REG_ORG="${{ env.CROSSPLANE_PROXY_REGORG }}" CONCURRENCY="${{ inputs.concurrency }}" BRANCH_NAME="main" ${{ inputs.version != '' && format('VERSION={0}', inputs.version) || '' }} publish

      - name: Mirror to xpkg.upbound.io
        if: ${{ inputs.mirror-to-upbound-registry }}
        uses: crossplane-contrib/provider-workflows/.github/actions/mirror-to-xpkg-upbound-io@4b68054c68e748195624fcf8187886a1123fc7a2
        with:
          subpackages: ${{ steps.packages.outputs.target }}
          repository: ${{ inputs.repository }}
          version: ${{ inputs.version }}
          xpkg-upbound-token: ${{ secrets.XPKG_UPBOUND_TOKEN }}
